{{> head }}
{{> navbar }}
    
<div class="row">
    <div class="col-8">
        <h1>Andrómeda la Galaxia!</h1>
        <p>

        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/andromeda.jpg" class="img-thumbnail" alt="">
    </div>
</div>


{{> footer }}